@page
@using NoteFlow.Pages;
@model NoteFlow.Pages.MainScreenModel;
@{
    ViewData["Title"] = "MainScreen";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #191919;
            font-family: 'Inter', sans-serif;
            position: relative;
            width: 1920px;
            height: 2000px;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .top-bar {
            position: fixed;
            width: 100%;
            height: 30px;
            top: 0;
            left: 0;
            background-color: rgb(43, 43, 43);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0;
            box-sizing: border-box;
            z-index: 10000;
            border-bottom: 1px solid #555;
            -webkit-app-region: drag;
        }

        .top-bar-actions {
            weight: 50;
            height: 40;
            display: flex;
            gap: 1px;
            align-items: right;
            -webkit-app-region: no-drag;
        }

        .logo {
            width: 40px;
            height: 40px;
            allign: left;
        }

        .nav-buttons {
            background: none;
            border: none;
            cursor: pointer;
            transition: all 0.2s;
            color: #aeaeae;
            -webkit-app-region: no-drag;
        }

        .nav-buttons:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: #FFFFFF;
        }

        .close-btn:hover {
            background-color: rgb(148, 0, 0);
            color: #ffffff;
        }

        /* Контейнер для карточек с горизонтальным скроллом */
        .cards-container-wrapper {
            position: absolute;
            width: 1345px;
            height: 245px;
            left: 287px;
            top: 150px;
            overflow: hidden;
        }

        .cards-container {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 30px;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 10px 0;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            /* Блюр прямо с краев */
            mask-image: linear-gradient(to right,
                    transparent 0%,
                    black 5px,
                    black calc(100% - 5px),
                    transparent 100%);
        }

        /* Полностью убираем скроллбар */
        .cards-container::-webkit-scrollbar {
            display: none;
        }

        .cards-container {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        /* Карточка добавления заметки */
        .card {
            width: 200px;
            height: 200px;
            transition: transform 0.3s ease;
            flex-shrink: 0;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card-bg {
            box-sizing: border-box;
            width: 180px;
            height: 200px;
            background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(117, 117, 117, 0.2) 0%, rgba(94, 98, 101, 0.0447917) 77.08%, rgba(126, 126, 126, 0) 100%), rgba(30, 30, 30, 0.98);
            border-radius: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }

        .card-bg::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 41px;
            padding: 1px;
            background: radial-gradient(circle at 15% 20%, rgba(152, 249, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(135, 38, 183, 0.1) 70%, transparent 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        .card-button {
            background: none;
            border: none;
            padding: 0;
            width: 180px;
            height: 200px;
            cursor: pointer;
            transition: transform 0.3s ease;
            flex-shrink: 0;
        }

        .card-button:hover {
            transform: translateY(-5px);
        }

        .add-note-text {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            width: 155px;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Карточка заметки */
        .note-card {
            width: 180px;
            height: 200px;
            transition: transform 0.3s ease;
            flex-shrink: 0;
        }

        .note-card:hover {
            transform: translateY(-5px);
        }

        .note-card-bg {
            box-sizing: border-box;
            width: 180px;
            height: 200px;
            background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(117, 117, 117, 0.2) 0%, rgba(94, 98, 101, 0.0447917) 77.08%, rgba(126, 126, 126, 0) 100%), rgba(30, 30, 30, 0.98);
            border-radius: 41px;
            position: relative;
        }

        .note-card-bg::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 41px;
            padding: 1px;
            background: radial-gradient(circle at 15% 20%, rgba(152, 249, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(135, 38, 183, 0.1) 70%, transparent 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        .note-title {
            position: absolute;
            width: 150px;
            height: 22px;
            left: 15px;
            top: 30px;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #DADADA;
        }

        .note-description {
            position: absolute;
            width: 170px;
            height: 60px;
            left: 15px;
            top: 60px;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #A9A49C;
            overflow: hidden;
        }

        .note-timestamp {
            position: absolute;
            width: 101.99px;
            height: 17.74px;
            left: 40px;
            top: 150px;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #555554;
        }

        /* Карточка нового напоминания */
        .reminder-card {
            position: absolute;
            width: 180px;
            height: 170px;
            left: 287px;
            top: 450px;
            transition: transform 0.3s ease;
        }

        .reminder-card:hover {
            transform: translateY(-5px);
        }

        .reminder-card-bg {
            box-sizing: border-box;
            width: 180px;
            height: 170px;
            background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(117, 117, 117, 0.2) 0%, rgba(94, 98, 101, 0.0447917) 77.08%, rgba(126, 126, 126, 0) 100%), rgba(30, 30, 30, 0.98);
            border-radius: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .reminder-card-bg::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 41px;
            padding: 1px;
            background: radial-gradient(circle at 15% 20%, rgba(152, 249, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(135, 38, 183, 0.1) 70%, transparent 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        .reminder-icon {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            width: 155px;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card {
            right: 0px;
            top: 150px;
            height:200px;
            width: 200px;
        }
        
        .reminder-title {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: rgba(255, 255, 255, 0.7);
            width: 155px;
            height: 43px;
            justify-content: center;
            position: relative;
            top: 390px;   
            left: 270px;
        }
    </style>
</head>

<body>
    <nav class="top-bar">
        <div class="logo-container">
            <img src="/Images/Logo.svg" class="logo" alt="NoteFlow" />
        </div>

        <div class="top-bar-actions">
            <button class="nav-buttons" title="Свернуть" id="minimizeBtn">
                <svg width="32" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M5 12h14" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>

            <button class="nav-buttons" title="Развернуть" id="maximizeBtn">
                <svg width="32" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <rect x="3" y="3" width="18" height="18" rx="2" stroke-width="2" />
                </svg>
            </button>

            <button class="nav-buttons close-btn" title="Закрыть" id="closeBtn">
                <svg width="32" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M18 6L6 18M6 6l12 12" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
    </nav>

    <!-- Обертка для контейнера с блюром -->
    <div class="cards-container-wrapper">
        <!-- Контейнер для карточек заметок -->
        <div class="cards-container">
            <!-- Карточка добавления заметки -->
            <form method="post">
                <button type="submit" asp-page-handler="ToEditorForEditOrCreate" class="card-button">
                    <div class="card-bg">
                        <div class="add-note-text">Добавить заметку</div>
                    </div>
                </button>
            </form>

            <!-- Карточки заметок -->
            @if (Model.Notes.Count() > 0)
            {
                @for (int i = 0; i < Model.Notes.Count(); i++)
                {
                    <form method="post" asp-page-handler="ToEditorForEditOrCreate">
                        <input type="hidden" name="path" value="@Model.Notes[i].NotePath"/>
                        <button type=submit class="note-card">
                            <div class="note-card-bg">
                                <div class="note-title">@Model.Notes[i].NoteTitle</div>
                                <div class="note-description">@Model.Notes[i].NoteContent</div>
                                <div class="note-timestamp">@Model.Notes[i].NoteCreated</div>
                            </div>
                        </button>
                    </form>
                }
            }
        </div>
    </div>
    

    <!-- Карточка нового напоминания -->
    <div class="reminder-card">
        <div class="reminder-card-bg">
            <div class="reminder-icon">Новое напоминание</div>
        </div>
    </div>
    <!-- Надпись напоминания-->
    <div class="reminder-title">Напоминания</div>

    
    <div class=".blur">
        <img src="/Images/blue.png" alt="NoteFlow" />
    </div>
</body>

<script>
    const { ipcRenderer } = require('electron');
    document.getElementById('minimizeBtn').addEventListener('click', () => {
        ipcRenderer.send('minimize-window');
    });
    document.getElementById('maximizeBtn').addEventListener('click', () => {
        ipcRenderer.send('maximize-window');
    });
    document.getElementById('closeBtn').addEventListener('click', () => {
        ipcRenderer.send('close-window');
    });

    @* document.getElementById('toEditNoteScreen').addEventListener('click', function () {
        window.location.href = '/NoteScreen';
    }); *@
</script>